	<html ng-app>
	<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
</head>
<body>
	<div class="row">
		<div id="map" style="width: 600px; height: 400px"></div> 
	</div>

	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

	<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

	<script src="js/map.js"></script>

	<script src="js/map_controller.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

	<p></p>

	<div class="row">

    <div ng-controller="MapCtrl">
			<a ng-click="switchToSender()" href="#">Act as sender</a>
			<a ng-click="switchToReciever()"href="#">Act as reciever</a>

			<div class="row"><p>Task id: </p><input type="text" ng-model="task_id"/></div>
    </div>

	</div>

    

</body>
</html>
